<h2>Mini Election Results</h2>
<h3>Mayor</h3>
<app-candidate won="mini" name="Shauna Sylvester" party="Independant" votes="30"></app-candidate>
<app-candidate won="city" name="Kennedy Stewart" party="Independant" votes="13"></app-candidate>
<app-candidate name="Ken Sim" party="NPA" votes="6"></app-candidate>
<h3>City Council</h3>
<app-candidate won="both" name="Pete Fry" party="Green" votes="36"></app-candidate>
<app-candidate won="both" name="Adriane Carr" party="Green" votes="26"></app-candidate>
<app-candidate won="mini" name="Diego Cardona" party="Vision" votes="17"></app-candidate>
<app-candidate won="both" name="Lisa Dominato" party="NPA" votes="16"></app-candidate>
<app-candidate won="mini" name="Catherine Evans" party="Vision" votes="15"></app-candidate>
<app-candidate won="mini" name="Tanya Paz" party="Vision" votes="15"></app-candidate>
<app-candidate won="mini" name="David HT Wong" party="Green" votes="15"></app-candidate>
<app-candidate won="both" name="Rebecca Bligh" party="NPA" votes="14"></app-candidate>
<h4><i>Tied for Last Two Seats:</i></h4>
<app-candidate won="both" name="Melissa De Genova" votes="11" party="NPA"></app-candidate>
<app-candidate won="mini" name="Justin P Goodrich" votes="11" party="NPA"></app-candidate>
<app-candidate won="mini" name="Jojo Quimpo" votes="11" party="NPA"></app-candidate>
<app-candidate won="both" name="Sarah Kirby-Yung" votes="11" party="NPA"></app-candidate>
<h3>Parks Board</h3>
<app-candidate won="both" name="Dave Demers" votes="37" party="Green"></app-candidate>
<app-candidate won="both" name="Camil Dumont" votes="32" party="Green"></app-candidate>
<app-candidate won="both" name="Stewart MacKinnon" votes="25" party="Green"></app-candidate>
<app-candidate won="mini" name="Cameron Zubko" votes="22" party="Vision"></app-candidate>
<app-candidate won="mini" name="Michael John Wiebe" votes="19" party="Green"></app-candidate>
<app-candidate won="mini" name="Heather Deal" votes="16" party="Vision"></app-candidate>
<app-candidate won="mini" name="Shamim Shivji" votes="16" party="Vision"></app-candidate>
<h3>VSB Trustees</h3>
<app-candidate won="both" name="Janet Fraser" votes="35" party="Green"></app-candidate>
<app-candidate won="both" name="Lois Chan-Pedley" votes="31" party="Green"></app-candidate>
<app-candidate won="both" name="Estrellita Gonzalez" votes="28" party="Green"></app-candidate>
<app-candidate won="mini" name="Carrie Bercic" votes="20" party="OneCity"></app-candidate>
<app-candidate won="mini" name="Erin Arnold" votes="17" party="Vision"></app-candidate>
<app-candidate won="both" name="Carmen Cho" votes="17" party="NPA"></app-candidate>
<app-candidate won="both" name="Fraser Ballantyne" votes="16" party="NPA"></app-candidate>
<app-candidate won="mini" name="Aaron Leung" votes="16" party="Vision"></app-candidate>
<app-candidate won="both" name="Allan Wong" votes="16" party="Vision"></app-candidate>
<div class="buffer"></div>