<h2>City Election Results</h2>
<h3>Mayor</h3>
<app-candidate won="city" name="Kennedy Stewart" votes="49812" party="Independant"></app-candidate>
<app-candidate name="Ken Sim" votes="48828" party="NPA"></app-candidate>
<app-candidate won="mini" name="Shauna Sylvester" votes="35537" party="Independant"></app-candidate>
<h3>City Council</h3>
<app-candidate won="both" name="Adriane Carr" votes="69885" party="Green"></app-candidate>
<app-candidate won="both" name="Pete Fry" votes="61925" party="Green"></app-candidate>
<app-candidate won="both" name="Melissa De Genova" votes="53324" party="NPA"></app-candidate>
<app-candidate won="city" name="Jean Swanson" votes="48955" party="COPE"></app-candidate>
<app-candidate won="city" name="Colleen Hardwick" votes="47811" party="NPA"></app-candidate>
<app-candidate won="city" name="Michael Wiebe" votes="47500" party="Green"></app-candidate>
<app-candidate won="city" name="Christine Boyle" votes="45529" party="OneCity"></app-candidate>
<app-candidate won="both" name="Lisa Dominato" votes="44769" party="NPA"></app-candidate>
<app-candidate won="both" name="Rebecca Bligh" party="NPA" votes="44117"></app-candidate>
<app-candidate won="both" name="Sarah Kirby-Yung" votes="43646" party="NPA"></app-candidate>
<h3>Parks Board</h3>
<app-candidate won="both" name="Stewart MacKinnon" votes="73718" party="Green"></app-candidate>
<app-candidate won="both" name="Dave Demers" votes="73326" party="Green"></app-candidate>
<app-candidate won="both" name="Camil Dumont" votes="65447" party="Green"></app-candidate>
<app-candidate won="city" name="John Coupar" votes="49836" party="NPA"></app-candidate>
<app-candidate won="city" name="Tricia Barker" votes="48831" party="NPA"></app-candidate>
<app-candidate won="city" name="Gwen Giesbrecht" votes="48481" party="COPE"></app-candidate>
<app-candidate won="city" name="John Irwin" votes="46360" party="COPE"></app-candidate>
<h3>VSB Trustees</h3>
<app-candidate won="both" name="Janet Fraser" votes="75237" party="Green"></app-candidate>
<app-candidate won="both" name="Estrellita Gonzalez" votes="58540" party="Green"></app-candidate>
<app-candidate won="city" name="Jennifer Reddy" votes="52851" party="OneCity"></app-candidate>
<app-candidate won="city" name="Oliver Hanson" votes="49991" party="NPA"></app-candidate>
<app-candidate won="both" name="Fraser Ballantyne" votes="49849" party="NPA"></app-candidate>
<app-candidate won="both" name="Carmen Cho" votes="49597" party="NPA"></app-candidate>
<app-candidate won="both" name="Lois Chan-Pedley" votes="48509" party="Green"></app-candidate>
<app-candidate won="city" name="Barb Parrott" votes="48276" party="COPE"></app-candidate>
<app-candidate won="both" name="Allan Wong" votes="47378" party="Vision"></app-candidate>
<div class="buffer"></div>